@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
} 

body {
    color: black;
    font-size: 16px;
    font-weight: normal;
    display: flex;
}

.tetrisContainer {
    max-width: 800;
    width: 300px;
    margin: auto;
    padding-top: 5px;
    
}


.title {
    font-family: 'Silkscreen';
    height: 54px;
    background-color: bisque;
    font-size: 40px;
    font-weight: bold;
    text-align: center;   
    letter-spacing: 13px;
    border-radius: 7px;
}

.glassBox {
    height: 600px; 
    background-color: rgb(234, 234, 234);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 7px;
}

pre {
    font-family: 'Source Code Pro';
    font-size: 30px;
    font-weight: bolder;
    white-space: pre;
    text-align: center;
    line-height: 0.75em; 
    letter-spacing: 4px;
}

.scoreH {
     
    font-family: 'Source Code Pro';
    font-size: 22px;
    font-weight: 700;
    background-color: bisque;
    text-align: center;
    line-height: 35px; 
    border-radius: 7px;
    /* padding-left: 30px  */
    /* margin-left: 0px; */
    
}