@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    touch-action: none;
} 

body {
    color: black;
    min-width: 384px;
    font-size: 16px;
    font-weight: normal;
}

.tetrisContainer {
    width: 384px;
    margin: auto;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;

}

.leftSide {
    width: 270px;
}
#title {
    font-family: 'Silkscreen';
    
    width: 384px;
    height: 50px;
    background-color: gainsboro;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;   
    letter-spacing: 14px;
    border-radius: 7px;
    margin-bottom: -10px;
}

#glassIn {
    font-family: 'Source Code Pro';
    font-size: 30px;
    font-weight: bolder;
    white-space: pre;
    text-align: center;
    line-height: 0.75em; 
    letter-spacing: 4px;
}

.rightSide {
    width: 112px;
    /* padding-top: 90px; */
    margin-left: 2px;
}

.nextFigure {
    height: 160px;
    display: table-cell;
    vertical-align: middle;
}

#nextFigure {
    width: 100px;
    font-family: 'Source Code Pro';
    font-size: 30px;
    font-weight: bolder;
    white-space: pre;
    text-align: center;
    line-height: 0.75em; 
    letter-spacing: 4px;
}

.scoreText {
    font-family: 'Source Code Pro';
    font-size: 20px;
    font-weight: 700;
    background-color: gainsboro;
    text-align: center;
    line-height: 35px; 
    border-radius: 7px;
}
.scoreValue {
    font-family: 'Source Code Pro';
    margin-top: 107px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.middle {
    display: flex;
    margin-bottom: -10px;
}
.buttons {
    text-align: center;
   
}
.button {
    font-family: 'Source Code Pro';
    height: 60px;
    width: 85px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}
