@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
} 

:root {
    --scaleTetris: 1;
  }

body {
    min-width: 384px;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    font-size: 16px;
    font-weight: normal;
    color: black;
}


.tetrisContainer {
    /* transform: scale(min(calc(100% / 692px), calc(100% / 384px))); */
    /* calc(100vh / 692px); */
    /* transform: scale(calc(100vh / 10)); */
    /* transform: scale(calc(800vh / 692vh)); */
    /* transform: scale(var(--scaleTetris)); */
    /* transform: scale(1.43); */
    width: 384px;
    height: 100vh;
    position: fixed;
    padding: 3px;
    margin-left: calc((100vw - 384px) / 2);
    margin-right: calc((100vw - 384px) / 2);
    /* margin-top: calc((100vh - 692px) / 2); */
    /* margin-bottom: calc((100vh - 692px) / 2); */
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    /* background-color: bisque; */
}

#title {
    font-family: 'Silkscreen';
    width: 384px;
    height: 60px;
    background-color: gainsboro;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;   
    letter-spacing: 14px;
    border-radius: 7px;
    margin-bottom: -10px;
    margin-top: 4px;
}

.middle {
    display: flex;
    margin-bottom: -10px;
}

.leftSide {
    width: 112px;
    /* padding-top: 90px; */
    margin-left: 2px;
}

.nextFigure {
    height: 110px;
    display: table-cell;
    vertical-align: middle;
}

#nextFigure {
    width: 112px;
    font-family: 'Source Code Pro';
    font-size: 30px;
    font-weight: bolder;
    white-space: pre;
    text-align: center;
    line-height: 0.75em; 
    letter-spacing: 4px;
}

.nextText {
    font-family: 'Source Code Pro';
    margin-top: 60px;
    font-size: 20px;
    font-weight: 700;
    background-color: gainsboro;
    text-align: center;
    line-height: 35px; 
    border-radius: 7px;
}
.scoreText {
    font-family: 'Source Code Pro';
    margin-top: 28px;
    font-size: 20px;
    font-weight: 700;
    background-color: gainsboro;
    text-align: center;
    line-height: 35px; 
    border-radius: 7px;
}
.scoreValue {
    font-family: 'Source Code Pro';
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.rightSide {
    width: 270px;
    margin-left: 8px;
}

#glassIn {
    font-family: 'Source Code Pro';
    font-size:29px;
    font-weight: bolder;
    white-space: pre;
    text-align: center;
    line-height: 0.75em; 
    letter-spacing: 4px;
}

.buttons {
    text-align: center;
   
}
.button {
    font-family: 'Source Code Pro';
    color: black;
    height: 60px;
    width: 86px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

#startButton {
    font-family: 'Source Code Pro';
    height: 112px;
    width: 112px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px; 
    margin-top: 33px;
    color: red;
}